body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: "Roboto", sans-serif,
      monospace;
  }
  .App{
  }

  .stepper-nav{
    margin-left: 13%;
    width: 74%;
  }

  .stepper-nav img{
    margin-top: -4px;
    margin-bottom: 9px;
    margin-left: -4px;
  }
  .screen-top{
    height: 50px;
    background-color: #00567a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 170px 0 67px;
  }

  .header-sec{
    display: flex;
    justify-content: space-around;
  }

  .brand{
    display: flex;
  }

  .brand-name{
    padding: 16px 0 0 10px;
  }

  .brand-text{
    color: #c1c7cc;
    font-weight: 600;
  }


  /********** Article - data grid style ***********/

  .grid-style {
    width: 90%;
    height: 50%;
    margin: 5%;
    overflow: auto;
  }

  .container-style {
    width: 100%;
    height: 80vh;
  }

  /*****************************************************/

  .bck {   
    background-color:white ;
    background-position: center;
    background-repeat: initial;
    background-size: cover;
  }
  
  .row{
    width: 95%;
    padding-left: 4%;
    align-items: center;
  }
  .modal-widget .row{
    padding: 1%;
  }

  .modal-title{
    font-size: 24px;
    padding-bottom: 5%;
    color: #00567a;
  }

  .customModalConfirmDelete.react-responsive-modal-modal {
    height: 150px;
    width: 400px;
  }

  .customModalWidget.react-responsive-modal-modal {
    min-height: 350px;
  }

  .customLogoutConfirm.react-responsive-modal-modal{
    height: 200px;
    width: 200px;
  }

  .delete-confirm{
    display: flex;
    flex-direction: column;
    padding: 2%;
  }

  .delete-confirm-action-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  
  .c{
    border: 1px gray solid;
  }
  
  .navbar-nav-style{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 3.5%;
    margin-right: 21%;
  }

  .submit-btn-style{
    margin-top: 80px !important;
    font-family: "Roboto", sans-serif !important;
  }

  .my-widget-header{
    font-size: 40px;
    font-weight: 600;
    color: #00567a;
    text-align: left;

  }

  .widget-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 2%;
  }

  .card{
    width: 700px;
    margin: 2%;
    height: 263px !important;
  }
  .card-header{
    display: flex;
    justify-content: space-between;
  }

  .card-header-date{
    padding-top: 1%;
  }
  
  .card-title{
    font-size: 20px;
    font-weight: 500;
    color: #00567a;
    padding-top: 1%;
  }
  .card-footer{
    display: flex;
    justify-content: space-between;
    height: 50px;
  }
  .card-footer-buttons{
    display: flex;
    justify-content: flex-end;
  }

  .card-footer-link{
    padding-top: 4px;
  }
  .card-footer-link-anchor{
    color: #00567a;
  }
  
  .nav-link{
    cursor: pointer;
    text-decoration: underline !important;
    color: #00567a !important;
  }

  .text-show-more{
    text-decoration: underline;
    color: #00567a;
  }

  .card-header-left-section{
    display: flex;
  }
  .card-header-status-btn{
    cursor: auto !important;
    margin-right: 15px !important;
    margin-top: 5px !important;
    height: 30px;
    color: beige !important;
  }

  .search-section{
    margin: 30px 80px;
    width: 25%;
  }

  .reject-btn{
    background-color: darkred !important;
  }

  .approve-btn{
    background-color: darkgreen !important;
    margin-right: 10px !important;
  }
  .publish-btn{
    background-color: navy !important;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; 
    border-top: 10px solid #383636; 
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }

  .wrapper-spinner{
    margin-left: 45%;
  }

  .search-filter-wrapper{
    display: flex;
    justify-content: space-between;
    margin-right: 450px;
    align-items: center;
  }

  .ilter-section{
    min-width: 240px;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }
  .login-submit{
    margin-top: 50px;
    margin-left: 240px;
    font-family: "Roboto", sans-serif !important;
    background-color: #00567a;
    color: beige;
    border: none;
    border-radius: 5%;
    width: 100px;
    
  }

  .login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 10px;
    border: 1px solid black;
    height: 400px;
    width: 500px;
    margin-top: 200px;
    margin-left: 800px;
  }

  .error-msg{
    color: darkred;
    padding-left: 10px;
  }

  /* .center-div-md{
    width: 80vw;
    margin: 5% 10% 5% 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  } */


  /********** Article - create-article-styles ***********/


  .markdown-section{
    height: 63vh;
    width: 77.5vw;
    margin: 0 2% 2% 0 ;
  }

  .html-section{
    height: 63vh;
    width: 77.5vw;;
    border: 1px solid black;
    font-size: 20px;
    padding: 0 2% 2% 2%;
    overflow-y: scroll;
  }

  .markdown-section-textarea{
    background-color: #a2a2a2;
    padding: 2%;
    width: 100%;
    height: 100%;
    font-size: 25px;

  }

  .article-tabs-section{
    max-height: 60px;
    margin-left: 39%;
  }

  .grid-container{
    display: flex;
    flex-direction: column !important;
  }

  .article-info{
    margin-top: 2%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
  }

  .info-section{
    height: 70vh;
    width: 60vw;
  }

  .article-info .article-info-item {
    width: 100%;
  }

  .article-data-section-MdHtml{
    display: flex;
    margin-left: 6%;
    margin-top: 2%;
  }

  .art-data-action-btns{
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
  }
  .art-data-action-btns button{
    margin-right: 10px;
  }
  .article-preview{
    display: flex;
    flex-direction: column;
    height: 65vh;
    width: 80vw;
    margin-left: 10%;
    margin-top: 2%;
    overflow-y: scroll;
    border: 1px solid black;
  }
  .upload-section{
    display: flex;
    justify-content: space-between;
  }
  
  .action-cell{
    padding-left: 10px;
  }

  .style-type{
    min-width: 47% !important;
  }

  .wrapperclass{
    width: 100%;
    margin-bottom: 30px ;
  }

  .padding-actions-acticle-info{
    margin-top: 25px !important;
  }
  .padding-actions-acticle{
    margin-top: 80px !important;
  }

  .info-fields{
    width: 100%;
    margin-bottom: 30px ;
    display: flex;
    justify-content: space-between;
  }

  .wrapper-split{
    min-width: 48% !important;
  }

  .select-style{
    width: 100%;
  }

  .action-buttons-wapper > button {
    margin: 2px;
  }

  .wrapperclass > textarea {
    border-color: #6c757d;
  }

  .wrapperclass > textarea::placeholder{
    color: #a2a2a2;
  }

  /*****************preview*****************/

  .article-preview{
    overflow-y: scroll;
  }
  .preview-info{
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    font-weight: 600;
    font-size: 25px;
  }

  .preview-info-val{
    padding-left: 10%;
    max-width: 90%;
    word-wrap: break-word;
  }

  .preview-data{
    padding: 2%;
    font-size: 20px;
  }

  .dropzone{
    height: 120px;
    width: 500px;
    border: 1px dashed lightgray;
    margin: 20px 20px 20px 520px;
  }

  .icon-dropzone-style{
    padding-left: 220px;
  }

  .upload-text-style{
    padding-left: 30px;
    color: #00567a;
  }

  .display-images{
    margin-left: 10%;
  }

  .upload-selected-style{
    margin-left: 700px;
  }

